extends layout

append navLinks
	+navLinks('/building')

append body
	.page-header
		h1 О доме

	h2 Расположение
	p
		:markdown
			Дом расположен в восточной (основной) части Пушкино, в одном километре от главной площади, в обжитом квартале.

			В непосредственной близости от дома есть магазины, торговые центры, поликлиника, стоматология, детские сады, школы.

			В семи минутах ходьбы – благоустроенное озеро Травинское, отлично подходящее для прогулок с детьми;
			а в пятнадцати – зона отдыха на реке Серебрянке, приспособленная для летнего приготовления шашлыков.

		include map-objects.html

	p
		:markdown
			Прямо у дома останавливаются маршрутки, на которых можно за пять минут доехать до ж/д станции и автовокзала.
			Пешком тот же путь можно проделать за двадцать минут.

			Каждые полчаса с ж/д станции отправляются экспрессы «спутник», доезжающие до Ярославского вокзала
			(станция метро «Комсомольская») за 28 минут.
			Время в пути до Ярославского вокзала для обычных электричек,
			частота отправления которых в час пик доходит до 5 минут,
			составляет от 30 до 50 минут.
			[Расписание электричек](http://rasp.yandex.ru/-/CVFOuYkQ).

			На автобусе можно доехать в ближайшие города (Мытищи, Королёв, Ивантеевка, Щёлково и прочие) или в Москву.

			Выезд на своём автомобиле в Москву возможен как [через Ярославское шоссе](http://maps.yandex.ru/-/CVFOuYjf),
			так и [через обычно свободное Пироговское шоссе](http://maps.yandex.ru/-/CVFOu49q).

	h2 Устройство
	p
		:markdown
			Дом монолитный, сдан в 2010 году, построен по индивидуальному проекту.

			Внешние стены – "вентилируемый фасад".

			Толщина перекрытий с учётом стяжки – 40см. Соседи сверху не будут вас беспокоить.

			В подъезде и снаружи ведётся видеонаблюдение.

			Имеется охраняемая придомовая автостоянка (только для жителей дома).

			В огороженном дворе – детская площадка.
