extends layout

append meta
	+meta(['ЖК "Высотка"', 'Информация о здании', 'Информация о ЖК "Высотка"'])

append navLinks
	+navLinks('/building')

append title
	+title('/building')

append body
	div(itemscope, itemtype='http://schema.org/ApartmentComplex')
		meta(itemprop='name', content='ЖК "Высотка"')
		div(itemprop='address', itemscope, itemtype="http://schema.org/PostalAddress")
			meta(itemprop='addressCountry', content='RU')
			meta(itemprop='addressRegion', content='Московская область')
			meta(itemprop='addressLocality', content='Пушкино')
			meta(itemprop='streetAddress', content='50 лет Комсомола, д.49')
		div(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
			meta(itemprop='latitude', content='56.000016')
			meta(itemprop='longitude', content='37.857600')
		meta(itemprop='map', content='http://maps.yandex.ru/-/CVFW7YpW')
		meta(itemprop='telephone', content='+7-926-631-7928')

		+header('/building')

		h2 Расположение
		p(itemprop='description')
			:markdown
				Дом расположен в восточной (основной) части Пушкино, в одном километре от главной площади, в обжитом квартале,
				по адресу: [50 лет Комсомола, д.49](http://maps.yandex.ru/-/CVFW7YpW).

				В непосредственной близости от дома есть магазины, торговые центры, поликлиника, стоматология, детские сады, школы.

				В семи минутах ходьбы – благоустроенное озеро Травинское, отлично подходящее для прогулок с детьми;
				а в пятнадцати – зона отдыха на реке Серебрянке, приспособленная для летнего приготовления шашлыков.

		include map-objects.html

		p
			:markdown
				Прямо у дома останавливаются автобусы и маршрутки, на которых можно за пять минут доехать до ж/д станции и автовокзала.
				Пешком тот же путь можно проделать за двадцать минут.

				Каждые полчаса с ж/д станции отправляются экспрессы «спутник», доезжающие до Ярославского вокзала
				(станция метро «Комсомольская») за 28 минут.
				Время в пути до Ярославского вокзала для обычных электричек,
				частота отправления которых в час пик доходит до 5 минут,
				составляет от 30 до 50 минут.
				[Расписание электричек](http://rasp.yandex.ru/-/CVFOuYkQ).

				На автобусе можно доехать в ближайшие города (Мытищи, Королёв, Ивантеевка, Щёлково и прочие) или в Москву.

				Выезд на своём автомобиле в Москву возможен как [через Ярославское шоссе](http://maps.yandex.ru/-/CVFOuYjf),
				так и [через обычно свободное Пироговское шоссе](http://maps.yandex.ru/-/CVFOu49q).

		hr

		h2 Устройство
		.row-fluid
			.span9
				p
					:markdown
						Дом монолитный, сдан в 2010 году, построен по индивидуальному проекту.

						Благодаря особенностям проекта, квартиры в доме большие (минимальная площадь квартир в основной части здания – 60м²),
						места общего пользования просторные, на каждом жилом этаже в основной части здания есть два просторных холла площадью по 20м².
						Основная часть здания по периметру охвачена лоджиями.
						таким образом, в каждой квартире в основной есть лоджия (за редкими исключениями – во всю её ширину).
						Высота потолков первого (нежилого) этажа 4м, второго нежилого и жилых в основной части здания – 3.2м.

						14 и 15 этажи образуют "мансарду"; у квартир на 14 этаже высота потолков 2.8м, а вместо балкона – терраса для летнего отдыха.
						У квартир на 15 этаже высота потолков 2.6м и "мансардные" окна.

						Из квартир, расположенных с 9 по 15 этаж, открывается отличный вид на Пушкино и окрестности.

						Внешние стены – "вентилируемый фасад".

						Толщина перекрытий с учётом стяжки – 40см. Соседи сверху не будут вас беспокоить.

						В подъезде и снаружи ведётся видеонаблюдение.

						Имеется охраняемая придомовая автостоянка (только для жителей дома).

						В огороженном дворе – детская площадка.
			.span3
				.thumbnail
					img(itemprop='photo', src='http://img-fotki.yandex.ru/get/6426/2391467.16/0_9d6c4_553c41e1_L.jpg')

		ul.thumbnails
			li
				+yandexPhotoS('buildingGallery', 'Холл на первом этаже', 'http://img-fotki.yandex.ru/get/4117/2391467.16/0_9d90d_820afea3')
			li
				+yandexPhotoS('buildingGallery', 'Вход в жилую часть со двора', 'http://img-fotki.yandex.ru/get/6447/2391467.16/0_9d911_af9182af')
			li
				+yandexPhotoS('buildingGallery', 'Детская площадка во дворе', 'http://img-fotki.yandex.ru/get/6437/2391467.16/0_9d912_b72a07d1')
			li
				+yandexPhotoS('buildingGallery', 'Охраняемая стоянка для жителей дома', 'http://img-fotki.yandex.ru/get/4127/2391467.16/0_9d90f_d436f90e')
