extends layout

append navLinks
	+navLinks('/contract')

append body
	.page-header
		h1 О договоре

	p
		:markdown
			Квартира в собственности с марта 2011г.
			Несмотря на это, мы указываем полную сумму в договоре.

			Основание собственности – договор купли-продажи; продавцом был застройщик.

			В настоящее время в квартире никто не прописан и никогда не был прописан,
			двое совершеннолетних собственников.

			Оплата осуществляется наличными через банковскую ячейку в банке «Нордеа».
			Квартира была куплена с использованием кредитных средств этого банка,
			продажа осуществляется под контролем банка в связи с тем,
			что одновременно с продажей осуществляется снятие обременения с квартиры.
