extends layout

append meta
	+meta(['Юридическая информация', 'Информация о заключении договора'])

append navLinks
	+navLinks('/contract')

append title
	+title('/contract')

append body
	+header('/contract')

	p
		:markdown
			Квартира в собственности с марта 2011г.
			Несмотря на это, мы указываем полную сумму в договоре.

			Основание собственности – договор купли-продажи; продавцом был застройщик.

			В настоящее время в квартире никто не прописан и никогда не был прописан,
			двое совершеннолетних собственников.

			Оплата осуществляется наличными через банковскую ячейку в банке «Нордеа».
			Квартира была куплена с использованием кредитных средств этого банка,
			продажа осуществляется под контролем банка в связи с тем,
			что одновременно с продажей осуществляется снятие обременения с квартиры.

			На покупателе эти особенности никак не отражаются, никаких дополнительных рисков для него нет,
			сделка происходит по обычной схеме купли-продажи с использованием банковской ячейки:

			1. После оставления символического залога мы освобождаем квартиру и готовим все необходимые вам документы.
			2. В назначенный день мы встречаемся с вами в квартире;
				если вас всё устраивает – перекодируем замки, подписываем акт приёма-передачи.
			3. В отделении банка «Нордеа» подписываем договор купли-продажи, договоры аренды ячейки;
				в одну ячейку мы закладываем новые ключи, в другую вы закладываете требуемую сумму.
			4. Мы с вами отвозим договор купли-продажи и соответствующие бумаги от банка в регпалату в Пушкино.
			5. Через некоторое время после этого регистрация завершается.
				Вы, имея на руках свидетельство о собственности (которая уже не будет обременена),
				получаете доступ к ячейке с ключами и заселяетесь в квартиру.
				Мы, имея на руках зарегистрированный экземпляр договора купли-продажи,
				с представителями банка получаем доступ к ячейке с деньгами и забираем себе то,
				что останется после урегулирования наших вопросов с банком и налоговой.

			6. Если вдруг по каким-то причинам регистрация сделки сорвалась – по соответствующим документам все получают доступ к «своим» ячейкам;
				вы получаете назад свои деньги, мы – ключи.
