extends layout

append navLinks
	+navLinks('/contract')

append body
	.page-header
		h1 О договоре

	p
		:markdown
			Квартира в собственности с марта 2011г.
			Несмотря на это, мы указываем полную сумму в договоре.

			Основание собственности – договор купли-продажи; продавцом был застройщик.

			В квартире никто никогда не был прописан, двое совершеннолетних собственников.

			Оплата осуществляется наличными через банковскую ячейку в банке «Нордеа».
