extends layout

append meta
	+meta(['Юридическая информация', 'Информация о заключении договора'])

append navLinks
	+navLinks('/contract')

append title
	+title('/contract')

append body
	+header('/contract')

	p
		:markdown
			Квартира в собственности с марта 2011г.
			В договоре указывается полная стоимость квартиры.

			Основание собственности – договор купли-продажи; продавцом был застройщик.

			В настоящее время в квартире никто не прописан и никогда не был прописан,
			один совершеннолетний собственник.

			Чистая продажа.

			Возможна оплата любым способом, ипотека в любом банке.
