extends layout

append navLinks
	+navLinks('/faq')

append body
	.page-header
		h1 Вопросы и ответы

	h3 Можно ли купить квартиру по ипотеке?
	p
		:markdown
			К сожалению, квартира находится в залоге у банка «Нордеа», и условия продажи определяют они.

			В частности, они требуют, чтобы оплата происходила наличным образом через банковскую ячейку именно в банке «Нордеа»,
			и чтобы в договоре купли-продажи не говорилось об ипотеке со стороны покупателя.

			Однако, если банк «Нордеа» одобрил вашу заявку на получение ипотечного кредита,
			и вы хотите приобрести эту квартиру, вы можете обратиться к своему менеджеру в банке.
			Вероятно, они пойдут вам навстречу.

			Сайт банка «Нордеа»: [http://nordea.ru/](http://nordea.ru/)

	hr

	h3 Я хочу сравнить ваше предложение с другими, какая у вашей квартиры цена за метр?
	p
		:markdown
			Это зависит от того, как считать метраж квартиры.

			Отапливаемая площадь квартиры по свидетельству о собственности – **70.1м²**, это даёт **84 879 руб/м²**.

			Однако, в объявлениях продавцы зачастую указывают площадь квартиры с учётом площади балкона.

			В частности, застройщик указывает общую площадь квартиры с учётом площади лоджии с коэффициентом 0.5,
			такая же площадь указана и в техническом паспорте дома.
			Для этой квартиры посчитанная таким образом площадь составляет **75.2м²**, это даёт **79 122 руб/м²**.

			Некоторые продавцы указывают в объявлениях полную площадь квартиры с учётом всей площади лоджии.
			Для этой квартиры посчитанная таким образом площадь составляет **80.3м²**, это даёт **74 097 руб/м²**.
