extends layout

append meta
	+meta(['Часто задаваемые вопросы', 'Ответы на вопросы'])

append navLinks
	+navLinks('/faq')

append title
	+title('/faq')

append body
	+header('/faq')

	h3 Я хочу сравнить ваше предложение с другими, какая у вашей квартиры цена за метр?
	p
		:markdown
			Это зависит от того, как считать метраж квартиры.

			При расчете по отапливаемой площади квартиры по свидетельству о собственности **70.1м²**,
			цена за метр составляет **97 004 руб/м²**.

			Однако, в объявлениях продавцы зачастую указывают площадь квартиры с учётом площади балкона.

			Застройщик ЖК «Высотка» указывает общую площадь квартиры с учётом площади лоджии с коэффициентом 0.5,
			такая же площадь указана и в техническом паспорте дома.
			При расчете таким образом площадь квартиры составляет **75.2м²**, а цена за метр – **90 425 руб**.

			Большинство продавцов указывают в объявлениях полную площадь квартиры с учётом всей площади лоджии.
			При расчете таким образом, площадь квартиры составляет **80.3м²**, цена за метр – **84 682 руб**.

			Цены не являются окончательными, возможен торг.
