extends layout

append navLinks
	+navLinks('/flat')

append body
	.page-header
		h1 Информация о квартире

	h2 Планировка
	p
		:markdown
			По документам квартира однокомнатная, перепланировка не производилась.

			Планировку скорее можно назвать "студия+1", так как площадь кухни – **21.8м²**, что позволяет объединить в этом помещении кухню и гостиную, или отвести его часть под детскую.

			Холл площадью **20.6м²** (он же прихожая, он же коридор) можно использовать под установку шкафа-купе, спортивной стенки и холодильника.

			А на закрытом балконе площадью **10.2м²** – хранить ненужные вещи, а летом превратить его в веранду.

			Санузел площадью **6м²** позволяет разместить и большую ванну, и стиральную машину, и водонагреватель так,
			чтобы не казаться тесным.

			Высота потолков здесь **3.2м** – это больше, чем практически во всех других новостройках,
			не говоря уж о панельных домах и хрущёвках советского времени.

			В этой квартире действительно просторно.
			Конечно, типичная однокомнатная хрущёвка площадью **33м²**, с потолками высотой **2.4м** стоит дешевле,
			но в ней можно случайно удариться головой о потолок, если вставать слишком быстро! :)

	ul.thumbnails
		li
			+yandexPhotoS('planGallery', 'Планировка БТИ', 'http://img-fotki.yandex.ru/get/4137/2391467.16/0_9d59f_e0215f3b')
		li
			+yandexPhotoS('planGallery', 'Экспликация БТИ', 'http://img-fotki.yandex.ru/get/4130/2391467.16/0_9d5a0_c3608e18')
		li
			+yandexPhotoS('planGallery', 'Планировка от застройщика (площади указаны неверно', 'http://img-fotki.yandex.ru/get/5624/2391467.16/0_9d5a1_b6533ea0')
		li
			+yandexPhotoS('planGallery', 'План типового этажа от застройщика', 'http://img-fotki.yandex.ru/get/4120/2391467.16/0_9d5a2_6a2ac266')