extends layout

append meta
	+meta(['Квартира с отделкой', 'Информация о квартире'])

append navLinks
	+navLinks('/flat')

append title
	+title('/flat')

mixin planThumbnail(name, comment)
	+localPhoto('plan', comment, 'plan/' + name)

append body
	+header('/flat')

	h2 Планировка
	p
		:markdown
			По документам квартира однокомнатная, перепланировка не производилась.

			Более корректно назвать планировку "студия+1", так как площадь кухни – **21.8м²**,
			что позволяет объединить в этом помещении кухню и гостиную, или отвести его часть под детскую.

			Холл площадью **20.6м²** (он же прихожая, он же коридор) можно использовать под установку шкафа-купе, спортивной стенки и холодильника, или оборудовать в нём кладовую.

			На закрытой лоджии площадью **10.2м²** – хранить инвентарь, а летом превратить его в веранду.

			В санузле площадью **6м²** размещены и большая ванна, и стиральная машина, и водонагреватель,
			но он всё равно достаточно свободен.

			Высота потолков здесь **3.2м** – это больше, чем практически во всех других новостройках,
			не говоря уж о панельных домах и хрущёвках советского времени.

			Квартира расположена на 9 этаже (по высоте примерно соответствует 13-14 этажу обычного панельного дома).
			Окна выходят на запад; из них видна вся центральная часть Пушкино.

			В этой квартире действительно просторно.
			Эта квартира идеально подойдет для тех, кому важен простор.
			Если вам комфортно в квартире типа "однокомнатная хрущёвка площадью **33м²**, с потолками высотой **2.4м**", то,
			вероятнее всего, покупка этой квартиры для вас действительно нецелесообразна.

	.row
		+planThumbnail('plan', 'Примерный эскиз фактической планировки')
		+planThumbnail('plan-3d', 'Примерный эскиз фактической планировки')
		+planThumbnail('plan-bti', 'Планировка БТИ')
		+planThumbnail('explication-bti', 'Экспликация БТИ')
		+planThumbnail('plan-zastr-etazh', 'План типового этажа от застройщика, некоторые площади указаны неверно')
		+planThumbnail('../view/59736101_2372362106316207_3383261176004409278_n', 'Вид из окна')

	h2 Ремонт
	p
		:markdown
			В квартире сделан современный ремонт:
			плитка и паркетная доска,
			виниловые и натуральные обои,
			натяжные и подвесные потолки,
			большая ванна,
			входная дверь ["Стал-70"](https://door.ru/c_stal70.php) с топовыми замками.

			Установлена кухня со всей встроенной техникой.

			Балкон утеплён, остекление заменено.

	h2 Что остаётся в квартире
	p
		:markdown
			Мы оставляем в квартире мебель (всё, что вы видите на фотографиях),
			и всю крупную бытовую технику
			(стиральная машина, холодильник side-by-side, водонагреватель,
			варочная поверхность, духовка, посудомоечная машина).

			Таким образом, квартира полностью пригодна для проживания.

	.row
		+localPhoto('techGallery', 'Кухня', 'livingroom/SAM_1279_s')
		+localPhoto('techGallery', 'Кухня', 'livingroom/SAM_1286_s')
		+localPhoto('techGallery', 'Спальня', 'bedroom/SAM_1078_s')
		+localPhoto('techGallery', 'Санузел', 'bathroom/SAM_1302_s')
		+localPhoto('techGallery', 'Санузел', 'bathroom/SAM_1300_s')
