extends layout

append meta
	+meta(['Квартира с отделкой', 'Информация о квартире'])

append navLinks
	+navLinks('/flat')

append title
	+title('/flat')

append body
	+header('/flat')

	h2 Планировка
	p
		:markdown
			По документам квартира однокомнатная, перепланировка не производилась.

			Более корректно назвать планировку "студия+1", так как площадь кухни – **21.8м²**,
			что позволяет объединить в этом помещении кухню и гостиную, или отвести его часть под детскую.

			Холл площадью **20.6м²** (он же прихожая, он же коридор) можно использовать под установку шкафа-купе, спортивной стенки и холодильника, или оборудовать в нём кладовую.

			На закрытой лоджии площадью **10.2м²** – хранить инвентарь, а летом превратить его в веранду.

			В санузле площадью **6м²** размещены и большая ванна, и стиральная машина, и водонагреватель,
			но он всё равно достаточно свободен.

			Высота потолков здесь **3.2м** – это больше, чем практически во всех других новостройках,
			не говоря уж о панельных домах и хрущёвках советского времени.

			Квартира расположена на 9 этаже (по высоте примерно соответствует 13-14 этажу обычного панельного дома).
			Окна выходят на запад; из них видна вся центральная часть Пушкино.

			В этой квартире действительно просторно.
			Эта квартира идеально подойдет для тех, кому важен простор.
			Если вам комфортно в квартире типа "однокомнатная хрущёвка площадью **33м²**, с потолками высотой **2.4м**", то,
			вероятнее всего, покупка этой квартиры для вас действительно нецелесообразна.

	ul.thumbnails
		li
			+yandexPhotoS('planGallery', 'Планировка БТИ', 'http://img-fotki.yandex.ru/get/4137/2391467.16/0_9d59f_e0215f3b')
		li
			+yandexPhotoS('planGallery', 'Экспликация БТИ', 'http://img-fotki.yandex.ru/get/4130/2391467.16/0_9d5a0_c3608e18')
		li
			+yandexPhotoS('planGallery', 'Планировка от застройщика (площади указаны неверно', 'http://img-fotki.yandex.ru/get/5624/2391467.16/0_9d5a1_b6533ea0')
		li
			+yandexPhotoS('planGallery', 'План типового этажа от застройщика', 'http://img-fotki.yandex.ru/get/4120/2391467.16/0_9d5a2_6a2ac266')
		li
			+yandexPhotoS('planGallery', 'Вид из окна', 'http://img-fotki.yandex.ru/get/5632/2391467.16/0_9d6c6_b28c99d1')

	h2 Ремонт
	p
		:markdown
			В квартире сделан современный ремонт:
			плитка и паркетная доска,
			виниловые и натуральные обои,
			натяжные и подвесные потолки,
			большая ванна,
			входная дверь ["Стал-70"](http://door.ru/c_stal70.php).

			Установлена кухня со всей встроенной техникой.

			Балкон утеплён, остекление заменено.

	h2 Что остаётся в квартире
	p
		:markdown
			Мы оставляем в квартире мебель (всё, что вы видите на фотографиях),
			и всю крупную бытовую технику
			(стиральная машина, холодильник side-by-side, водонагреватель,
			варочная поверхность, духовка, посудомоечная машина).

			Таким образом, квартира полностью пригодна для проживания.

	ul.thumbnails
		li
			+yandexPhotoS('techGallery', 'Санузел', 'http://img-fotki.yandex.ru/get/6424/2391467.16/0_9d6bc_57fa041')
		li
			+yandexPhotoS('techGallery', 'Кухня', 'http://img-fotki.yandex.ru/get/5637/2391467.16/0_9d6cd_79d7d540')
		li
			+yandexPhotoS('techGallery', 'Кухня', 'http://img-fotki.yandex.ru/get/5645/2391467.16/0_9d6d9_c168de07')
		li
			+yandexPhotoS('techGallery', 'Спальня', 'http://img-fotki.yandex.ru/get/5638/2391467.16/0_9d6c1_b52558bd')
		li
			+yandexPhotoS('techGallery', 'Спальня', 'http://img-fotki.yandex.ru/get/5638/2391467.16/0_9d6c3_d9cbb7b2')
