
mixin navBlock(image, url)
	.col-xs-6.col-md-4
		.card.mb-4
			if (image)
				img.card-img-top(src=image)
			.card-body
				block
				p: a.btn.btn-primary(href=url) Подробнее

extends layout

append meta
	+meta

append navLinks
	+navLinks('/')

append title
	+title('/')

append beforeBody
	.jumbotron
		.container(itemscope, itemtype='https://schema.org/Product')
			.row
				.col-xs-12.col-md-8
					h1.display-4(itemprop='name') Квартира в Пушкино, ЖК «Высотка»
					p(itemprop='description')
						:markdown
							Продаётся квартира с одной спальней,
							общей площадью 75.2 метра
							с отделкой, мебелью и техникой
							в городе Пушкино, 15км от МКАД,
							ЖК бизнес-класса «Высотка».
			
					div(itemscope, itemprop='offers', itemtype='https://schema.org/Offer')
						meta(itemprop='price', content='7000000')
						meta(itemprop='priceCurrency', content='RUB')
						link(itemprop='availability', href='https://schema.org/InStock')
						p.lead
							:markdown
								Цена – **7 000 000** рублей, возможен торг.

						div(itemprop='seller', itemscope, itemtype='https://schema.org/Person')
							meta(itemprop='name', content='Собственник')
							meta(itemprop='email', content='pushkino-vysotka-sale@outlook.com')
							meta(itemprop='telephone', content='+7-999-554-6066')
							address
								:markdown
									**Пишите:** [pushkino-vysotka-sale@outlook.com](mailto:pushkino-vysotka-sale@outlook.com)

							address
								:markdown
									**Звоните:** [+7-999-554-6066](tel:+79995546066)

				.col-xs-12.col-md-4
					img.img-fluid(itemprop='image', src='/photos/livingroom/SAM_1279_s.jpg')

append body
	.hero-unit
		div(itemscope, itemtype='https://schema.org/Product')

	.row
		+navBlock('/photos/bedroom/SAM_1078_s.small.jpg', '/flat')
			p В квартире сделан современный ремонт...
		+navBlock('/photos/interior/WP_20191007_08_55_42_s.small.jpg', '/building')
			p Монолитно-кирпичный дом 2010 года постройки...
		+navBlock('/photos/view/33993409_173069516703282_5956283993535021056_n.jpg', '/photos')
			p Фотографии
		+navBlock('', '/contract')
			p Юридическая информация
		+navBlock('', '/faq')
			p Ответы на вопросы
		+navBlock('', '/links')
			p Полезные ссылки
