
mixin navBlock(image, url)
	.span4
		.thumbnail
			if (image)
				img(src=image)
			.caption
				block
				p: a.btn(href=url) Подробнее

extends layout

append meta
	+meta

append navLinks
	+navLinks('/')

append title
	+title('/')

append body
	.hero-unit
		div(itemscope, itemtype='http://schema.org/Product')
			h1(itemprop='name') Квартира в Пушкино, ЖК «Высотка»
			.row-fluid
				.span8
					p(itemprop='description')
						:markdown
							Продаётся квартира с одной спальней,
							общей площадью 75.2 метра
							с отделкой, мебелью и техникой
							в городе Пушкино, 15км от МКАД,
							ЖК бизнес-класса «Высотка».
			
					div(itemscope, itemprop='offers', itemtype='http://schema.org/Offer')
						meta(itemprop='price', content='5990000')
						meta(itemprop='priceCurrency', content='RUB')
						link(itemprop='availability', href='http://schema.org/InStock')
						p.lead
							:markdown
								Цена – **5 990 000** рублей (возможен торг).

						div(itemprop='seller', itemscope, itemtype='http://schema.org/Person')
							meta(itemprop='name', content='Собственник')
							meta(itemprop='email', content='pushkino.vysotka.2013@gmail.com')
							meta(itemprop='telephone', content='+7-926-631-7928')
							address
								:markdown
									**Пишите:** [pushkino.vysotka.2013@gmail.com](mailto:pushkino.vysotka.2013@gmail.com)

							address
								:markdown
									**Звоните:** +7-926-631-7928

				.span4
					.thumbnail
						img(itemprop='image', src='http://img-fotki.yandex.ru/get/5638/2391467.16/0_9d6c1_b52558bd_L.jpg')

	.row
		+navBlock('http://img-fotki.yandex.ru/get/6424/2391467.16/0_9d6bc_57fa041_L.jpg', '/flat')
			p В квартире сделан современный ремонт...
		+navBlock('http://img-fotki.yandex.ru/get/5639/2391467.16/0_9d6b4_2462b958_L.jpg', '/building')
			p Монолитно-кирпичный дом 2010 года постройки...
		+navBlock('http://img-fotki.yandex.ru/get/6445/2391467.16/0_9d6c5_8f863f99_L.jpg', '/photos')
			p Фотографии
	br
	.row
		+navBlock('', '/contract')
			p Юридическая информация
		+navBlock('', '/faq')
			p Ответы на вопросы
		+navBlock('', '/links')
			p Полезные ссылки
