
mixin navBlock(image, url)
	.span4
		.thumbnail
			img(src=image)
			.caption
				block
				p: a.btn(href=url) Подробнее

extends layout

append navLinks
	+navLinks('/')

append body
	.hero-unit
		h1 Квартира в Пушкино, ЖК «Высотка»
		p
			:markdown
				Продаётся квартира с одной спальней,
				общей площадью 75.2 метра
				с отделкой, мебелью и техникой
				в городе Пушкино, 15км от МКАД,
				ЖК бизнес-класса «Высотка».
		p.lead
			:markdown
				Цена – **5 950 000** рублей (возможен торг при просмотре).

		address
			:markdown
				**Пишите:** todo@todo.todo

		address
			:markdown
				**Звоните:** +7-todo-todo

	.row
		+navBlock('http://img-fotki.yandex.ru/get/5407/2391467.15/0_9026e_6c519b53_L.jpg', '/flat')
			p todo текст о квартире
		+navBlock('http://img-fotki.yandex.ru/get/6404/2391467.15/0_9224c_870cbca4_L.jpg', '/building')
			p todo текст о здании
		+navBlock('http://img-fotki.yandex.ru/get/4419/2391467.6/0_728b8_52a57da4_L.jpg', '/photos')
			p todo текст о фотографиях
	br
	.row
		+navBlock('http://lorempixel.com/500/375?todo-1', '/contract')
			p todo текст о договоре
		+navBlock('http://lorempixel.com/500/375?todo-2', '/faq')
			p todo текст о часто задаваемых вопросах
		+navBlock('http://lorempixel.com/500/375?todo-3', '/links')
			p todo текст о ссылках
