
mixin navBlock(image, url)
	.col-xs-6.col-md-4
		.card.mb-4
			if (image)
				img.card-img-top(src=image)
			.card-body
				block
				p: a.btn.btn-primary(href=url) Подробнее

extends layout

append meta
	+meta

append navLinks
	+navLinks('/')

append title
	+title('/')

append beforeBody
	.jumbotron
		.container(itemscope, itemtype='http://schema.org/Product')
			.row
				.col-xs-12.col-md-8
					h1.display-4(itemprop='name') Квартира в Пушкино, ЖК «Высотка»
					p(itemprop='description')
						:markdown
							Продаётся квартира с одной спальней,
							общей площадью 75.2 метра
							с отделкой, мебелью и техникой
							в городе Пушкино, 15км от МКАД,
							ЖК бизнес-класса «Высотка».
			
					div(itemscope, itemprop='offers', itemtype='http://schema.org/Offer')
						meta(itemprop='price', content='6800000')
						meta(itemprop='priceCurrency', content='RUB')
						link(itemprop='availability', href='http://schema.org/InStock')
						p.lead
							:markdown
								Цена – **6 800 000** рублей.

						div(itemprop='seller', itemscope, itemtype='http://schema.org/Person')
							meta(itemprop='name', content='Собственник')
							meta(itemprop='email', content='pushkino-vysotka-sale@outlook.com')
							meta(itemprop='telephone', content='+7-999-554-6066')
							address
								:markdown
									**Пишите:** [pushkino-vysotka-sale@outlook.com](mailto:pushkino-vysotka-sale@outlook.com)

							address
								:markdown
									**Звоните:** [+7-999-554-6066](tel:+79995546066)

				.col-xs-12.col-md-4
					img.img-fluid(itemprop='image', src='http://img-fotki.yandex.ru/get/5638/2391467.16/0_9d6c1_b52558bd_L.jpg')

append body
	.hero-unit
		div(itemscope, itemtype='http://schema.org/Product')

	.row
		+navBlock('http://img-fotki.yandex.ru/get/6424/2391467.16/0_9d6bc_57fa041_L.jpg', '/flat')
			p В квартире сделан современный ремонт...
		+navBlock('http://img-fotki.yandex.ru/get/5639/2391467.16/0_9d6b4_2462b958_L.jpg', '/building')
			p Монолитно-кирпичный дом 2010 года постройки...
		+navBlock('http://img-fotki.yandex.ru/get/6445/2391467.16/0_9d6c5_8f863f99_L.jpg', '/photos')
			p Фотографии
		+navBlock('', '/contract')
			p Юридическая информация
		+navBlock('', '/faq')
			p Ответы на вопросы
		+navBlock('', '/links')
			p Полезные ссылки
