
mixin navBlock(image, url)
	.span4
		.thumbnail
			if (image)
				img(src=image)
			.caption
				block
				p: a.btn(href=url) Подробнее

extends layout

append navLinks
	+navLinks('/')

append body
	.hero-unit
		h1 Квартира в Пушкино, ЖК «Высотка»
		p
			:markdown
				Продаётся квартира с одной спальней,
				общей площадью 75.2 метра
				с отделкой, мебелью и техникой
				в городе Пушкино, 15км от МКАД,
				ЖК бизнес-класса «Высотка».
		p.lead
			:markdown
				Цена – **5 990 000** рублей (возможен торг).

		address
			:markdown
				**Пишите:** [pushkino.vysotka.2013@gmail.com](mailto:pushkino.vysotka.2013@gmail.com)

		address
			:markdown
				**Звоните:** +7-926-631-7928

	.row
		+navBlock('http://img-fotki.yandex.ru/get/5638/2391467.16/0_9d6c1_b52558bd_L.jpg', '/flat')
			p В квартире сделан современный ремонт...
		+navBlock('http://img-fotki.yandex.ru/get/5639/2391467.16/0_9d6b4_2462b958_L.jpg', '/building')
			p Монолитно-кирпичный дом 2010 года постройки...
		+navBlock('http://img-fotki.yandex.ru/get/6445/2391467.16/0_9d6c5_8f863f99_L.jpg', '/photos')
			p Фотографии
	br
	.row
		+navBlock('', '/contract')
			p Юридическая информация
		+navBlock('', '/faq')
			p Ответы на вопросы
		+navBlock('', '/links')
			p Полезные ссылки
