extends layout

append meta
	+meta('Полезные ссылки')

append navLinks
	+navLinks('/links')

append title
	+title('/links')

append body
	+header('/links')

	.well
		h2 Сайт застройщика
		p: a(href='http://vysotka.su') http://vysotka.su
		p.muted Обратите внимание на то, что информация о квартирах в наличии и их цене устарела.
		p.muted В площадях квартир балкон учитывается с коэффициентом 0.5.
	.well
		h2 Форум жильцов дома
		p: a(href='https://forum.pushkino.org/forum/89-vysotka/') https://forum.pushkino.org/forum/89-vysotka/

	.well
		h2 Статья о городе в Википедии
		p: a(href='https://ru.wikipedia.org/wiki/%D0%9F%D1%83%D1%88%D0%BA%D0%B8%D0%BD%D0%BE') https://ru.wikipedia.org/wiki/Пушкино