extends layout

append navLinks
	+navLinks('/links')

append body
	h1 Полезные ссылки
	.container
		h2
			a(href='http://vysotka.su') Сайт застройщика
		p.muted
			| Обратите внимание на то, что информация о квартирах в наличии и их цене устарела
	.container
		h2
			a(href='http://forum.pushkino.org/index.php?/forum/89-%D0%B2%D1%8B%D1%81%D0%BE%D1%82%D0%BA%D0%B0/')
				| Форум жильцов дома
