extends layout

append meta
	+meta(['Фотографии', 'Фотографии дома', 'Фотографии квартиры', 'Фотографии ремонта', 'Вид из окна'])

mixin bedroomThumbnail(name, comment)
	+localPhoto('bedroom', comment || 'Спальня', 'bedroom/' + name)

mixin bathroomThumbnail(name, comment)
	+localPhoto('bathroom', comment || 'Санузел', 'bathroom/' + name)

mixin kitchenThumbnail(name, comment)
	+localPhoto('kitchen', comment || 'Зал', 'livingroom/' + name)

mixin hallThumbnail(name, comment)
	+localPhoto('hall', comment, 'hallway/' + name)

mixin balconyThumbnail(name, comment)
	+localPhoto('balcony', comment || 'Балкон', 'balcony/' + name)

mixin viewThumbnail(name, comment)
	+localPhoto('view', comment || 'Вид из окна квартиры', 'view/' + name)

mixin buildingInteriorThumbnail(name, comment)
	+localPhoto('buildingInterior', comment, 'interior/' + name)

mixin buildingExteriorThumbnail(name, comment)
	+localPhoto('buildingExterior', comment || 'Дом', 'exterior/' + name)

mixin planThumbnail(name, comment)
	+localPhoto('plan', comment, 'plan/' + name)

append navLinks
	+navLinks('/photos')

append title
	+title('/photos')

append body
	+header('/photos')

	h3 Спальня
	#bedroomGallery.row
		+bedroomThumbnail('SAM_1078_s')
		+bedroomThumbnail('SAM_1316_s')
		+bedroomThumbnail('SAM_1318_s')
		+bedroomThumbnail('SAM_1319_s')
		+bedroomThumbnail('SAM_1381_s')

	hr

	h3 Санузел
	#bathroomGallery.row
		+bathroomThumbnail('SAM_1299_s')
		+bathroomThumbnail('SAM_1300_s')
		+bathroomThumbnail('SAM_1302_s')
		+bathroomThumbnail('SAM_1303_s')

	hr

	h3 Зал
	#kitchenGallery.row
		+kitchenThumbnail('SAM_1279_s')
		+kitchenThumbnail('SAM_1284_s')
		+kitchenThumbnail('SAM_1286_s')
		+kitchenThumbnail('SAM_1294_s')
		+kitchenThumbnail('SAM_1297_s')
		+kitchenThumbnail('SAM_1385_s')

	hr

	h3 Холл (прихожая, коридор)
	#hallGallery.row
		.col-sm-8
			+hallThumbnail('SAM_1397_s', 'Прихожая')
		+hallThumbnail('SAM_1405_s', 'Коридор')

	hr

	h3 Лоджия
	#balconyGallery.row
		+balconyThumbnail('SAM_1393_s')
		+balconyThumbnail('SAM_1395_s')
		+balconyThumbnail('SAM_1396_s')

	hr

	h3 Вид из окна
	#viewGallery.row
		+viewThumbnail('30841577_639578556379824_4812889881736904704_n')
		+viewThumbnail('33993409_173069516703282_5956283993535021056_n')
		+viewThumbnail('36852288_1838750016181335_8923785565308977152_n')
		+viewThumbnail('43678617_292301274946884_1845370482043018633_n')
		+viewThumbnail('59736101_2372362106316207_3383261176004409278_n')
		+viewThumbnail('70660065_2424057874315715_3985480614271672949_n')

	hr

	h3 Подъезд
	#buildingInteriorGallery.row
		+buildingInteriorThumbnail('WP_20191007_08_55_42_s', 'Холл на первом этаже')
		+buildingInteriorThumbnail('WP_20191007_08_53_16_s', 'Коридор девятого этажа')
		+buildingInteriorThumbnail('WP_20191007_08_53_47_s', 'Холл девятого этажа')

	hr

	h3 Дом
	#buildingExteriorGallery.row
		+buildingExteriorThumbnail('DVC00484_s')
		+buildingExteriorThumbnail('WP_20191003_16_17_49_s')
		+buildingExteriorThumbnail('WP_20191003_16_19_18_s')
		+buildingExteriorThumbnail('WP_20191003_16_19_44_s')
		+buildingExteriorThumbnail('WP_20191007_08_56_36_s', 'Вход в жилую часть со стороны двора')
		+buildingExteriorThumbnail('WP_20191007_08_57_36_s', 'Стоянка для жителей ЖК "Высотка"')

	hr

	h3 Полезная информация
	#infoGallery.row
		+planThumbnail('plan', 'Примерный эскиз фактической планировки')
		+planThumbnail('plan-3d', 'Примерный эскиз фактической планировки')
		+planThumbnail('plan-bti', 'Планировка БТИ')
