extends layout

append meta
	+meta(['Фотографии', 'Фотографии дома', 'Фотографии квартиры', 'Фотографии ремонта', 'Вид из окна'])

mixin bedroomThumbnail(name, comment)
	li
		+localPhoto('bedroom', comment || 'Спальня', 'bedroom/' + name)

mixin bathroomThumbnail(name, comment)
	li
		+localPhoto('bathroom', comment || 'Санузел', 'bathroom/' + name)

mixin kitchenThumbnail(name, comment)
	li
		+localPhoto('kitchen', comment || 'Зал', 'livingroom/' + name)

mixin hallThumbnail(name, comment)
	li
		+localPhoto('hall', comment, 'hallway/' + name)

mixin balconyThumbnail(name, comment)
	li
		+localPhoto('balcony', comment || 'Балкон', 'balcony/' + name)

mixin viewThumbnail(yandexSrc, comment)
	li
		+yandexPhotoS('view', comment || 'Вид из окна квартиры', yandexSrc)

mixin buildingInteriorThumbnail(yandexSrc, comment)
	li
		+yandexPhotoS('buildingInterior', comment, yandexSrc)

mixin buildingExteriorThumbnail(yandexSrc, comment)
	li
		+yandexPhotoS('buildingExterior', comment || 'Дом', yandexSrc)

mixin infoThumbnail(yandexSrc, comment)
	li
		+yandexPhotoS('info', comment, yandexSrc)

append navLinks
	+navLinks('/photos')

append title
	+title('/photos')

append body
	+header('/photos')

	h3 Спальня
	ul#bedroomGallery.thumbnails
		+bedroomThumbnail('SAM_1078_s')
		+bedroomThumbnail('SAM_1316_s')
		+bedroomThumbnail('SAM_1318_s')
		+bedroomThumbnail('SAM_1319_s')
		+bedroomThumbnail('SAM_1381_s')

	hr

	h3 Санузел
	ul#bathroomGallery.thumbnails
		+bathroomThumbnail('SAM_1299_s')
		+bathroomThumbnail('SAM_1300_s')
		+bathroomThumbnail('SAM_1302_s')
		+bathroomThumbnail('SAM_1303_s')

	hr

	h3 Зал
	ul#kitchenGallery.thumbnails
		+kitchenThumbnail('SAM_1279_s')
		+kitchenThumbnail('SAM_1284_s')
		+kitchenThumbnail('SAM_1286_s')
		+kitchenThumbnail('SAM_1294_s')
		+kitchenThumbnail('SAM_1297_s')
		+kitchenThumbnail('SAM_1385_s')

	hr

	h3 Холл (прихожая, коридор)
	ul#hallGallery.thumbnails
		+hallThumbnail('SAM_1397_s', 'Прихожая')
		+hallThumbnail('SAM_1405_s', 'Коридор')

	hr

	h3 Лоджия
	ul#balconyGallery.thumbnails
		+balconyThumbnail('SAM_1393_s')
		+balconyThumbnail('SAM_1395_s')
		+balconyThumbnail('SAM_1396_s')

	hr

	h3 Вид из окна
	ul#viewGallery.thumbnails
		+viewThumbnail('http://img-fotki.yandex.ru/get/6445/2391467.16/0_9d6c5_8f863f99')
		+viewThumbnail('http://img-fotki.yandex.ru/get/5632/2391467.16/0_9d6c6_b28c99d1')

	hr

	h3 Подъезд
	ul#buildingInteriorGallery.thumbnails
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/4117/2391467.16/0_9d90d_820afea3', 'Холл на первом этаже')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/4122/2391467.16/0_9d6b3_2e8b967f', 'Лифтовый холл')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/5639/2391467.16/0_9d6b4_2462b958', 'Холл на первом этаже')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/6426/2391467.16/0_9d6b5_684ae49f', 'Холл на первом этаже')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/6447/2391467.16/0_9d6b9_14d2dfa1', 'Коридор девятого этажа')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/4133/2391467.16/0_9d6b6_8b40fa64', 'Коридор девятого этажа')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/4134/2391467.16/0_9d6b7_ba499caf', 'Холл девятого этажа')
		+buildingInteriorThumbnail('http://img-fotki.yandex.ru/get/6428/2391467.16/0_9d6b8_4474a3cd', 'Холл девятого этажа')

	hr

	h3 Дом
	ul#buildingExteriorGallery.thumbnails
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/6426/2391467.16/0_9d6c4_553c41e1')
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/6447/2391467.16/0_9d911_af9182af', 'Вход в жилую часть со стороны двора')
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/6443/2391467.16/0_9d913_9311e09a', 'Вход в жилую часть со стороны двора')
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/4127/2391467.16/0_9d90f_d436f90e', 'Стоянка для жителей ЖК "Высотка"')
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/4138/2391467.16/0_9d910_cef7374a', 'Стоянка для жителей ЖК "Высотка"')
		+buildingExteriorThumbnail('http://img-fotki.yandex.ru/get/6437/2391467.16/0_9d912_b72a07d1', 'Детская площадка во дворе')

	hr

	h3 Полезная информация
	ul#infoGallery.thumbnails
		+infoThumbnail('http://img-fotki.yandex.ru/get/4137/2391467.16/0_9d59f_e0215f3b', 'Планировка БТИ')
		+infoThumbnail('http://img-fotki.yandex.ru/get/4130/2391467.16/0_9d5a0_c3608e18', 'Экспликация БТИ')
		+infoThumbnail('http://img-fotki.yandex.ru/get/5624/2391467.16/0_9d5a1_b6533ea0', 'Планировка от застройщика (площади указаны неверно')
		+infoThumbnail('http://img-fotki.yandex.ru/get/4120/2391467.16/0_9d5a2_6a2ac266', 'План типового этажа от застройщика')
